#title-navegation {
  /*  border: solid 1px red; remova depois */
}
#title-navegation a {
  text-decoration: none;
  color: rgb(69, 69, 69);
}
#title-navegation a:hover {
  color: black;
}
#mainContent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: solid 1px grey;
  border-radius: 10px; /* remova depois */
  margin-top: 50px;
  box-sizing: border-box;
}
.filter-space {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  /* border: solid 1px red; */
  gap: 10px; /* Espaçamento entre os elementos */
  width: 100%;
  align-items: center;
}
.filter-actions {
  /* border: solid 1px black; */
  display: flex;
  gap: 10px; /* Espaçamento entre o link e o botão */
}
.filter-space input {
  flex-grow: 1;
  border: solid 1px grey;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}
.filter-space a {
  text-decoration: none;
  background-color: rgba(61, 84, 112, 1);
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.filter-space button {
  /* border: solid 1px grey; */
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}
#showFilters-space{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  border: solid 1px red; 
  gap: 10px; /* Espaçamento entre os elementos */
  width: 100%;
  align-items: center;
  display: none;
}
#showFilters-space.show{
  display: flex;
}
.table-space {
  /* border: solid 1px red; */
  padding: 20px;
  margin-bottom: 10px;
}
/* .custom-table td, th{
  background-color: rgba(224, 225, 221, 1)!important;
  border: solid 3px black;
}
.custom-table thead:hover {
  background-color: rgba(62, 79, 13, 0.8) !important;
} */
.table {
  border-collapse: collapse;
  width: 100%;
}
.table thead tr {
}
.table tbody tr {
  border-bottom: solid 1px grey;

}
.table tbody:hover{
  background-color: grey;
}
.table td,
th {
  background-color: rgba(224, 225, 221, 1);
  padding: 5px;
  align-items: center;
  text-align: center;
}
.table th {
}
.actions img {
  width: 30px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}
.actions img:hover{
  opacity: 1;
}
/* flex box: empurrar a div results para baixo:flex: 1 */
.flex-space {
  flex: 1;
  /* border: solid 1px; */
}
/* results space */
#resultsSpace {
  /* border: solid 1px yellow; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  font-size: 14px;
  margin-top: auto;
  box-sizing: border-box;
  padding: 10px;
}
.results {
  /* border: solid 1px red; */
  display: flex;
  align-items: center;
}
.amount div {
  border: solid 1px grey;
  display: flex;
  padding: 0px 5px 0px 5px;
  gap: 3px;
  border-radius: 5px;
  margin-left: 5px;
}
.results img {
  width: 30px;
  min-height: 30px;
}
.next {
  gap: 5px;
}
.next a {
  padding: 0px 10px 0px 10px;
}
.numbers {
  border: solid 1px grey;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}
.numbers:hover {
  background-color: grey;
}
