#title-navegation {
  /* border: solid 1px red; */
}
#title-navegation a {
  text-decoration: none;
  color: rgb(69, 69, 69);
}
#title-navegation a:hover {
  color: black;
}
#mainContent {
  display: flex;
  flex-direction: column;
  border-radius: 10px; /* remova depois */
  margin-top: 50px;
  box-sizing: border-box;
}

/* inicio tabs */
.tabs {
  display: flex;
  /* border-bottom: 2px solid #ccc; */
  justify-content: center;
  /* border-bottom: solid 1px grey; */
}
.tab {
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  /* border: 1px solid #ccc;
  border-bottom: none;
  background: #f0f0f0;  */
}
.tab:hover {
  background: rgba(61, 84, 112, 0.5);
}
.tab.active {
  background: rgba(61, 84, 112, 1);
  color: white;
  font-weight: bold;
  border-bottom: solid 4px rgba(27, 38, 59, 1);
}
.tab-content {
  display: none;
  padding: 20px;
  /* border: 1px solid #ccc; */
}
.tab-content.active {
  border: solid 1px grey;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  gap: 10px;
  flex-direction: row;
}
.tab-content.active div {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
.tab-content.active:first-child div:last-child {
  padding-top: 118px;
}


.tab-content.active input {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px grey;
}
.tab-content.active input:hover {
  border: solid 1px black;
}
.tab-content.active select {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px grey;
  font-size: 16px;
}
.tab-content.active select:hover {
  border: solid 1px black;
}
#uploadFoto {
  cursor: pointer;
  border: solid 1px grey;
  max-width: 80px;
  text-align: center;
  font-size: 14px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 5px;
  color: rgb(85, 85, 85);
}
#uploadFoto p {
  background-color: rgba(61, 84, 112, 0.5);
  color: rgb(65, 65, 65);
}
#uploadFoto:hover {
  background: rgba(61, 84, 112, 0.5);
}

#foto {
  opacity: 0;
  /* position: absolute; */
  z-index: -1;
  display: none;
}
#imagemPreview {
  width: 80px;
  height: 80px;
  border: solid 1px grey;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-image:url("../img/camera.png");
  background-repeat: no-repeat;
  background-position: center;
}

#doc {
  padding: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
}
#envDocContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.envDoc{
 border: solid 1px grey;
 align-content: center;
 align-items: center;
 max-width: 180px;
 height: 60px;
 border-radius: 5px;
 color: rgb(80, 80, 80);
}
.envDoc:hover{
  border: solid 1px rgb(0, 0, 0);
}
.envDoc input{
 display: none;
}
.envDoc label:hover{
 cursor: pointer;
color: black;
}

.buttons {
  text-align: right;
  margin-top: 5px;
  /* border: solid 1px; */
}
.buttons button {
  padding: 10px 15px 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  border: solid 1px grey;
  border-radius: 5px;
}
.buttons button:hover {
  background: rgba(61, 84, 112, 0.5);
}
#alertas{
  display: none;
  border: solid 1px grey;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  color: red;
  font-weight: bold;
  transition: 0.3s;
  justify-content: center;
  
}
#textAlertas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  font-size: 14px;
  
}
#textAlertas div{
  padding: 0px 2px 0px 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

/* fim tabs */
