body {
  overflow: hidden;
}

/* #title-navegation {
} */
#title-navegation a {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(69, 69, 69);
}
#title-navegation a:hover {
  color: black;
}
#mainContent {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#titulo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pesquisa {
  width: 573px;
  height: 44px;
  background-color: rgba(224, 225, 221, 1);
  padding-left: 30px;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
}

#filtos {
  width: 110px;
  height: 44px;
  background-color: rgba(224, 225, 221, 1);
  padding-left: 30px;
  border-radius: 5px;
  margin-left: 200px;
}

.icon-placeholder-pesquisa {
  padding-left: 30px;
  background-image: url("../assets/img/Vector.svg");
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 16px;
}

.icone-placeholder-filtros {
  padding-left: 30px;
  background-image: url("../assets/img/iconeFiltros.png");
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 16px;
}

.link_table {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

.imagem-funcionario {
  width: 40px;
  height: 40px;
  border: solid, 1px, black;
  border-radius: 50px;
}

.div_table_point_management {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.table_point_management {
  width: 100%;
  height: 70%;
  border-collapse: collapse;
  border-bottom: 1px solid black;
  font-size: 16px;
  color: rgb(26, 26, 26);
  font-weight: 500;
}

.table_row {
  border-collapse: collapse;
  border-bottom: 1px solid black;
}

.div_pesquisa {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.color_title {
  color: #555;
}
